@model Exo_MVC1.Models.Categorie

@{
    ViewData["Title"] = "Details";
    Layout = null;
}


    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categories)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Categories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horaire)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Horaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jour)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Jour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datedebut)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Datedebut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datefin)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Datefin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativite)
        </dt>
        <dd class = "col-sm-10 ms-3">
            @Html.DisplayFor(model => model.Ativite.Nom)
        </dd>
    </dl>
@* </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@