@model Exo_MVC1.Models.Admin

@{
    ViewData["Title"] = "Details";
    Layout = null;
}



<div>
   
    <dl class="row">
        <dt class = "col-sm-2 ms-3">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2 ms-3">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
      @*   <dt class = "col-sm-10 ms-3">
           Mot de passe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Motdepasse)
        </dd> *@
    </dl>
</div>
@* <div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@
