@model IEnumerable<Exo_MVC1.Models.Admin>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="mt-20">Create New</a>
</p>

<div class="flex container-fluid pt-4 px-4">
    <div class="bg-white text-center rounded">
     
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                    <tr>
                        <th scope="col">
                                @Html.DisplayNameFor(model => model.Nom)
                        </th>
                        <th scope="col">
                                @Html.DisplayNameFor(model => model.Username)
                        </th>
                        <th scope="col">
                            Mot de passe 
                        </th>
                        <th scope="col">Action</th>
                    </tr>
                    </tr>
                </thead>
                <tbody>
               
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Motdepasse)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                   
                  
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
